@if(active){
<kendo-dialog [width]="300" [height]="450" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? "Add new client" : "Edit client" }}
  </kendo-dialog-titlebar>

  <form novalidate class="k-form k-form-md" [formGroup]="editForm">
    <kendo-formfield>
      <kendo-label
        [for]="'FirstName'"
        text="First Name"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox formControlName="FirstName" required></kendo-textbox>
      <kendo-formerror>Error: First Name is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="'LastName'"
        text="Last Name"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox formControlName="LastName" required></kendo-textbox>
      <kendo-formerror>Error: Last Name is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="'Email'"
        text="Email"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox formControlName="Email" required></kendo-textbox>
      <kendo-formerror>Error: Valid Email is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label
        [for]="'PhoneNumber'"
        text="Phone Number"
        labelCssClass="k-form-label"
      ></kendo-label>
      <kendo-textbox formControlName="PhoneNumber" required></kendo-textbox>
      <kendo-formerror>Error: Phone Number is required</kendo-formerror>
    </kendo-formfield>

    <kendo-dialog-actions layout="start">
      <button
        kendoButton
        themeColor="primary"
        [disabled]="!editForm.valid"
        (click)="onSave($event)"
      >
        Save
      </button>
      <button kendoButton (click)="onCancel($event)">Cancel</button>
    </kendo-dialog-actions>
  </form>
</kendo-dialog>
}
